.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.button_back_summary{
    position: absolute;
    left: 410px;
    width: 200px;
    height: 100px;
    top: 650px;
}
.btn-outline-primary{
    border-radius: 40px;
}